<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
	<nav class="navbar navbar-orange navbar-static-top">
	  <div class="container-fluid  aw-titulo-panel">
	    <div class="navbar-header">	
	    
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="/images/logo-supportcomm.gif"/>
	      </a>
         <a class="navbar-brand btn btn-link " href="/register">Registre-se</a>
	      <a class="navbar-brand btn-link navbar-right" th:href="@{/logout}">Logout</a>
	    </div>
	     
	  </div>
	</nav>
    
</html>